.Dictionary section {
  margin: 20px 0;
  background: #eaedef;
  padding: 40px;
}

.Dictionary h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 75px;
}

.Dictionary h2 {
  font-size: 26px;
}

.Dictionary form {
  border-radius: 6px;
}

.Dictionary-logo {
  display: block;
  margin: 0 auto;
}

.Results h2 {
  font-size: 38px;
}
